<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FilterExample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletOutput</display-name>
    <servlet-name>ServletOutput</servlet-name>
    <servlet-class>ServletOutput</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOutput</servlet-name>
    <url-pattern>/ServletOutput</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterOutput</display-name>
    <filter-name>FilterOutput</filter-name>
    <filter-class>com.filter_Ex.FilterOutput</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterOutput</filter-name>
    <url-pattern>/FilterOutput</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>OutputFilter</display-name>
    <filter-name>OutputFilter</filter-name>
    <filter-class>OutputFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OutputFilter</filter-name>
    <url-pattern>/OutputFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FilterOutput1</display-name>
    <filter-name>FilterOutput1</filter-name>
    <filter-class>FilterOutput1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterOutput1</filter-name>
    <url-pattern>/FilterOutput1</url-pattern>
  </filter-mapping>
</web-app>